.Post {
    margin: auto;
}

.media-container {
    position: relative;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 1;
}

.media input {
    transition: transform 0.5s;
}

.media-container:hover .media input {
    transform: scale(1.05);
    opacity: 0.5;
}